@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron mastHead" style="height: 508px">
    <div>
        <img src="/Images/SWG-Shield-Logo.png" class="img-responsive" id="leftImage" />
    </div>
    <div id="rightText" class="panel-body">
        <h1>
            <div id="greyText">SG</div>
            <div id="redText">Corp</div>
        </h1>
        <p>
            <center>
                
                    <button type="submit" style="background-color: transparent; font-family: Dosis; font-weight: 900; font-size: 2em; border: none; color: #B31B27" id="learnMore">Learn More</button>
              
            </center>
        </p>
    </div>
    @*<center>
        <div style="width: 19.3%" id="learnMore">
            <button type="submit" style="background-color: transparent; font-family: Dosis; font-weight: 900; font-size: 2em; border: none; color: #B31B27">Learn More</button>
        </div>
    </center>*@
</div>
<div class="row description col-xs-12">
    <h1 style="padding: 2%; text-align: center">Our Services</h1>
    <ul class="icon-list icons">
        <li>
            <i class="fa fa-magic "></i>
            <p class="listElement">Software Design and Development</p>
        </li>
        <li>
            <i class="fa fa-cloud-upload"></i>
            <p class="listElement">Mobile Development Android And IOS
            </p>
        </li>
        <li>
            <i class="fa fa-connectdevelop"></i>
            <p class="listElement">Web Development</p>
        </li>
        <li>
            <i class="fa fa-tachometer"></i>
            <p class="listElement">Software Testing</p>
        </li>
        <li>
            <i class="fa fa-check"></i>
            <p class="listElement">Application Support/Maintenance</p>
        </li>
        <li>
            <i class="fa fa-wrench"></i>
            <p class="listElement">System Integration</p>
        </li>
    </ul>
    <hr />
    <h1 style="text-align: center">Contact Us Now</h1>
    <center>
        <ul class="socialIcons">
            <li class="twitter"><i class="fa fa-twitter"></i></li>
            <li class="facebook"><i class="fa fa-facebook"></i></li>
            <li class="instagram"><i class="fa fa-instagram"></i></li>
        </ul>
    </center>
</div>